# Compiled class files
*.class
*.jar
*.war
*.ear

# Gradle files
.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA / Eclipse / VSCode
.idea/
*.iml
*.ipr
*.iws
*.vscode/
.project
.classpath
.settings/

# Logs and temp files
logs/
*.log
hs_err_pid*
*.swp
*.swo
*.DS_Store